extends index

block panel
    .section
        .section-header
            - var ownerLink = '/users/' + OwnerId;
            .section-header-header #{Name} (public course pug)
            .section-header-text
                p Автор:
                    a(href=ownerLink) #{Owner}
            .section-header-text #{Description}
        .section-details
            - var orderNumber = 1
            each lesson in Lessons
                span.list-item-orderno #{orderNumber}
                .list-item-header #{lesson.Theme}
                .list-item-text Цель урока: #{lesson.Purpose}
                - orderNumber = orderNumber + 1
                br

