extends ../index

block panel
    .section
        .section-header
            .section-header-header Мои Курсы
            a.section-header-text.section-header-text-action(href='' onclick='mycourses.courses.addCourse.Dialog()') Добавить курс
        .section-details
            each course in courses
                - var streamsLink = '/courses/' + course._id + '/streams'
                - var courseLections = '/courses/' + course._id + '/lessons'
                span.list-item-orderno #{' '}
                .list-item-header #{course.Name}
                .list-item-text #{course.Description}
                span.list-item-text.list-item-action-first(onclick='mycourses.courses.changeCourse.Dialog("' + course._id + '")') Изменить   
                a.list-item-text.list-item-action-next(href=streamsLink) Потоки   
                a.list-item-text.list-item-action-next(href=courseLections) Лекции   
                br
