extends ../index

block panel
    .section
        .section-header
            .section-header-header #{Name} (описание) (course pug)
            .section-header-text #{Description}
            .section-header-text.section-header-text-warning #{State}
            a.section-header-text.section-header-text-action(href='' onclick='mycourses.courses.addLesson.Dialog("' + _id + '")') Добавить лекцию
        .section-details
            - var orderNumber = 1
            each lesson in Lessons
                - var materialsLink = '/courses/' + _id + '/lessons/' + orderNumber + '/materials'
                span.list-item-orderno #{orderNumber}
                .list-item-header #{lesson.Theme}
                .list-item-text #{lesson.Purpose}
                a.list-item-action-first(href='' onclick='mycourses.courses.remLesson("' + _id + '", ' + orderNumber + ')') Удалить
                a.list-item-action-next(href=materialsLink) Материалы   
                - orderNumber = orderNumber + 1
                br
