extends ../index

block panel
    .section
        .section-header
            .section-header-header Поток #{Name} (Лекции) (stream pug)
            .section-header-text.section-header-text-warning #{StateInfo}
            .section-header-text #{"Длительность: с " + new Intl.DateTimeFormat('de-DE', { year: "numeric", month: "2-digit", day: "2-digit" }).format(new Date(Start)) + " по " + new Intl.DateTimeFormat('de-DE', { year: "numeric", month: "2-digit", day: "2-digit" }).format(new Date(Finish))}
            a.section-header-text.section-header-text-action(href='' onclick='mycourses.streams.addLesson.Dialog("' + _id + '")') Добавить лекцию
        .section-details
            - var orderNumber = 1
            each lesson in Lessons
                - var materialsLink = '/streams/' + _id + '/lessons/' + orderNumber + '/materials'
                span.list-item-orderno #{orderNumber}
                .list-item-header #{lesson.Theme}
                .list-item-text #{lesson.Purpose}
                if (!lesson.DueDate)
                    .list-item-text Дата и время проведения: &lt;Не задано&gt;
                else
                    .list-item-text Дата и время проведения: #{new Intl.DateTimeFormat('de-DE', { year: "numeric", month: "2-digit", day: "2-digit", hour: "2-digit", minute: "2-digit" }).format(new Date(lesson.DueDate))}
                span.list-item-action-first(onclick='mycourses.streams.remLesson("' + _id + '", ' + orderNumber + ')') Удалить
                a.list-item-action-next(href='' onclick='mycourses.streams.changeLesson.Dialog("' + _id + '", ' + orderNumber + ')') Изменить
                a.list-item-action-next(href=materialsLink) Материалы   
                - orderNumber = orderNumber + 1
                br
