extends ../index

block panel
    .section
        .section-header
            .section-header-header Потоки моих курсов 
        .section-details
            each stream in streams
                - var courseLink = '/courses/' + stream.Course
                - var streamStudents = '/streams/' + stream._id + '/students'
                - var streamLections = '/streams/' + stream._id + '/lessons'
                span.list-item-orderno #{' '}
                .list-item-header #{stream.Name}
                .list-item-text #{stream.StateInfo}
                .list-item-text #{"Длительность: с " + new Intl.DateTimeFormat('de-DE', { year: "numeric", month: "2-digit", day: "2-digit" }).format(new Date(stream.Start)) + " по " + new Intl.DateTimeFormat('de-DE', { year: "numeric", month: "2-digit", day: "2-digit" }).format(new Date(stream.Finish))}       
                a.list-item-action-first(href=courseLink) Курс
                a.list-item-action-next(href=streamStudents) Студенты   
                a.list-item-action-next(href=streamLections) Лекции
                br
