extends ../index

block panel
    .section
        .section-header
            .section-header-header #{stream.Name} (Студенты)
            .section-header-text.section-header-text-warning #{stream.StateInfo}
            if (!stream.Start || !stream.Finish)
                .section-header-text #{"<Период обучения не задан>"}
            else
                .section-header-text #{"Длительность: с " + new Intl.DateTimeFormat('de-DE', { year: "numeric", month: "2-digit", day: "2-digit" }).format(new Date(stream.Start)) + " по " + new Intl.DateTimeFormat('de-DE', { year: "numeric", month: "2-digit", day: "2-digit" }).format(new Date(stream.Finish))}
        .section-details
            - var orderNumber = 1
            if (users)
                each student in users
                    span.list-item-orderno #{orderNumber}
                    .list-item-header #{student.Name}
                    .list-item-text #{student.EMail}
                    - orderNumber = orderNumber + 1
                    br
            else
                p
                | На данный поток нет записанных студентов
            br
            